.container-stock{
    max-width: 1150px;
    width: 100%;
}

.stock-heartIcon{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
    cursor: auto;
}
.quickLink{
    margin: 0 10px;
    text-decoration: underline;
    padding-bottom:5px ;
}
.quickLink:hover{
    color: #fff;
    background-color: #000;
}


/* category and filter box */
.categoryAndFilter-Box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: #dedede 1px solid;
    position: sticky;
    top: 0;
    z-index:1025;
    background-color: #fff;
}

.categoryOption{
    display: flex;
    overflow: auto;
    min-height: 60px;
    

}
.categoryOption::-webkit-scrollbar{
    display: none;
}
.categoryOption div{
    font-size: 18px;
    cursor: pointer;
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
}
.categoryOption-active{
    border-bottom: #000 4px solid;
    font-weight: bold;

}

.filterBtn{
    padding: 5px 15px;
    display: inline-flex;
    align-items: center;
    border: #000 1px solid;
    font-weight: bold;
    margin-bottom: 4px;

}
.filterBtn-mobile{
    display: none;
}
.fs{
    font-size: 16px;
}


@media (max-width:965px) {
    
    .filterBtn{
        display: none;
    }
    .filterBtn-mobile{
        padding: 5px 15px;
        display: inline-flex;
        align-items: center;
        font-weight: bold;
        margin-bottom: 4px;
    }
    .fs{
        font-size: 14px;
    }
}

/* product grid css */
.products-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-card{
    position: relative;
    transition: border .1s ease-in-out;
    border: #fff 1px solid;
    cursor: pointer;

}
.product-card img{
    width: 100%;
}
.product-card:hover{
    border: #000 1px solid;
}

.product-priceTag{
    position: absolute;
    bottom: 0;
    left: 5px;
    background-color: #fff;
    padding: 2px 4px;
    transition: bottom .1s ease-in-out;
}
.product-card:hover .product-priceTag{
    bottom: 8px;
}

.hoverImg-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 2px;
}
.select-div-stock{
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-top: 20px;
}
@media (max-width:965px) {
    .select-div-stock select{
    border: #000 1px solid;
    padding: 10px 40px 10px 20px;
    }
    
}


.colors-optionImg{
    border-bottom: 2px #fff solid;
}
.colors-optionImg:hover{
    border-bottom: 2px #000 solid;

}
@media (max-width:965px) {
    .products-grid{
        grid-template-columns: 1fr 1fr 1fr;

    }
    .product-card:hover{
        border: #ffffff 0px solid;
    }
}
@media (max-width:600px) {
    .products-grid{
        grid-template-columns: 1fr 1fr;

    }
}
.pre-loader {
    border: 3px solid #cccbcb;
    border-radius: 50%;
    border-top: 4px solid #000;
    width: 50px;
    height: 50px;
    margin:20px 0;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }

  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



  
