/* main button */
.button-container{
    position: absolute;
    width: 50%;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.button-container-section02{
    position: absolute;
    width: 60%;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6%;

}
@media (min-width:1400px) {
    
    .button-container,.button-container-section02{
        padding-bottom: 150px;
    }
    
}
@media (max-width:900px) {
    .button-container{
        width: 100%;
        padding-left: 15px;
        align-items: start;
    }
    .button-container-section02{
        width: 100%;
        padding-left: 15px;
        align-items: start;
    }
}

.a-button{
    all:unset
}
.main-btn{
    all:unset;
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 8px 18px;
    margin-bottom: 20px;
    font-weight: 600;
    transition:color .3s ease-in-out;
    position: relative;
    transition: transform .15s ease-in-out;


}
.main-btn:hover{
    color: #888787;

}
.main-btn-onClick{
    transform: translate(2px,3px);
}
.border-button{
    position: absolute;
    border: #000000 solid 1px;
    height: 98%;
    width: 100%;
    left: 3px;
    top: 4px;
    transition: transform .15s ease-in-out;

}
.border-button-onClick{
    transform: translate(-3px,-4px);

}




/* section 03===============> */
.section03{
    width: 100%;
    margin: 5% 4%;
}
.section-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 42px;
    row-gap: 50px;
}
.section03-head{
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bolder;
}
.section03-box h1{
    font-size: 40px;
    font-weight: 700;
    padding: 8px 0;
    margin-bottom: 10px;
    border-bottom: #000 1px solid;
}
.section03-box h1:hover{
    border-bottom: #000 10px solid;
    margin-bottom: 0px;

}
@media (min-width: 1450px) {
    .section03{
        width: 75%;
    }
    
}
@media (max-width:965px) {
    .section-grid{
        grid-template-columns: 1fr;
        column-gap: 0px;
    row-gap: 0px;
    }
    .section03-box h1{
        font-size: 30px;
    }
    .section03-head{
        font-size: 25px;
        margin-bottom: 5px;
    }
    
}