/* main button */
.button-container{
    position: absolute;
    width: 50%;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.button-container-section02{
    position: absolute;
    width: 60%;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6%;

}
@media (min-width:1400px) {
    
    .button-container,.button-container-section02{
        padding-bottom: 150px;
    }
    
}
@media (max-width:900px) {
    .button-container{
        width: 100%;
        padding-left: 15px;
        align-items: start;
    }
    .button-container-section02{
        width: 100%;
        padding-left: 15px;
        align-items: start;
    }
}

.a-button{
    all:unset
}
.main-btn{
    all:unset;
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 8px 18px;
    margin-bottom: 20px;
    font-weight: 600;
    transition:color .3s ease-in-out;
    position: relative;
    transition: transform .15s ease-in-out;


}
.main-btn:hover{
    color: #888787;

}
.main-btn-onClick{
    transform: translate(2px,3px);
}
.border-button{
    position: absolute;
    border: #000000 solid 1px;
    height: 98%;
    width: 100%;
    left: 3px;
    top: 4px;
    transition: transform .15s ease-in-out;

}
.border-button-onClick{
    transform: translate(-3px,-4px);

}




/* section 03===============> */
.section03{
    width: 100%;
    margin: 5% 3%;
}
.section-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 42px;
    row-gap: 50px;
}
.section03-head{
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: bolder;
}
.section03-box h1{
    font-size: 40px;
    font-weight: 700;
    padding: 8px 0;
    margin-bottom: 10px;
    border-bottom: #000 1px solid;
}
.section03-box h1:hover{
    border-bottom: #000 10px solid;
    margin-bottom: 0px;

}
@media (min-width: 1450px) {
    .section03{
        width: 80%;
    }
    
}
@media (max-width:965px) {
    .section-grid{
        grid-template-columns: 1fr;
        column-gap: 0px;
    row-gap: 0px;
    }
    .section03-box h1{
        font-size: 35px;
    }
    .section03-head{
        font-size: 25px;
        margin-bottom: 5px;
    }
    .section03-head{
        margin-top:10px ;
font-size: 20px;
    }
    
}


/* section04=============>mobile version only  */
.section04{
    display: none;
}


.accordianButton01{
    padding: 7px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.activeAccor,.activeAccor02{
    display: block !important;
    
}



@media (max-width:965px) {
    .section04{
        display: block;
        margin-bottom: 30px;
    }
}


/* Section05===============> */

.section05{
    height: 100%;
    width: 100%;
    padding: 4% 2%;
    padding-top: 0;

}
.section05-grid{
    display: flex;
    width: 100%;
    height: 100%;
}
.section05-grid img{
    object-fit: cover;
    height: 60vh;
    width: 100%;
    padding-left: 15px;
}
@media (min-width: 1450px) {
    .section05{
        width: 80%;
        padding: 0;
    }
    
}

@media (max-width:965px) {
    .section05{
        padding-bottom: 4%;

    }
    
    .section05-grid{
        overflow: auto;
        scroll-behavior: smooth;

    }
    .section05-grid::-webkit-scrollbar {
        display: none;
    }
    .section05-grid img{
        width: 290px;
        height: 45vh;
        padding-left: 10px;

    }
}


.section05-afterClick{
    height: 100%;
    width: 100%;
    padding-top: 0;
    float: inline-end;


}

.afterClick-Content{
width: 100%;
overflow: auto;
display: flex;
scroll-behavior: smooth;

}

.mBtns{
    all: unset;
    margin: 20px;
    font-size: 30px;
    cursor: pointer;
    font-weight: 600;
    opacity: .3;
    transition: margin .4s ease-in-out;
}

.opacity05{
    opacity: 1 !important;
}


.section05-movingArrow{
    transform: translateX(0);
    transition: transform .4s ease-in-out;
}

.arrowScroller{
    display: flex;
    align-items: center;
    margin: 30px;

}
.paddingLeft{
    padding-left: 3%;
}

.arrowBtn05{
    all: unset;
    padding: 0px 15px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}
.arrowBtn05:hover{
    background-color: #000000;
    color: #fff;
}

.card05{
    margin-right: 20px;
    min-width: 300px;
    width: 300px;
    transition: border .3s ease-in-out;
    border: #fff 0px solid;
    background-color: #eceff1;

}

.card05:hover{
    border: #000 1px solid;
}
.card05 img{
    width: 100%;
}
.card-title05{
    display: flex;
    justify-content: center;
    padding:20px 0px;
}
.card05-category{
    margin-right: 20px;
    min-width: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;


}
.category-title{
    font-weight: bolder;
    font-size: 30px;
    margin-top: 45px;
}

.category-button{
    border: #000 1px solid;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    font-weight: semibold;
    margin-top: auto;
}
.category-button:hover{
    opacity: .6;
}

.scrollBar::-webkit-scrollbar{
    display: none;
    
}
@media (min-width: 1450px) {
    
    .paddingLeft{
        padding-left: 10% !important;
    }
    
}

@media (max-width:965px) {
    .paddingLeft{
        padding-left: 0;
    }
    .arrowScroller{
        display: none;
    }

    .section05-afterClick button{
        font-size:20px;
        margin: 7px;
    }

    .afterClick-Content{
        display: block;
        /* overflow: hidden; */
    }

    .card05-category,.card05{
        margin-bottom: 10px;
        margin-right: 10px;
        width: 150px;
        min-width: 150px;
    }
    .category-title{
        font-size: 16px;
        margin-top: auto;
    }
    .category-button{
        margin-top: 20px;
        border: none;
        padding: 0px;
        font-weight: bold;
        text-decoration: underline;
        font-size: 14px;

    }
    .category-button i{
        display: none;
        font-size: smaller;
    }

    .mobileScroller{
        overflow: auto;
        padding-left: 20px;
        scroll-behavior: smooth;
    }
    .mobileScroller::-webkit-scrollbar{
        display: none;
    }
    .card-title05{
        padding: 15px 10px;
        font-size: 14px;
        font-weight: bold;
    }

}
/* Section06==========================> */
.section06{
    height: 100%;
    width: 100%;
    padding: 4% 0%;
    /* padding-top: 0; */

}

.title06{
    font-size: 35px;
    font-weight: bolder;
    padding: 10px;
    padding-left: 3%;
    padding-bottom: 30px;
}



.card06{
    position: relative;
    margin-right: 20px;
    min-width: 300px;
    width: 300px;
    transition: border .1s ease-in-out;
    border: #fff 1px solid;
}

.card06:hover{
    border: #000 1px solid;
}

.card06 img{
    width: 100%;
}

.card-title06{
    font-size: 16px;
    margin-left: 10px;
}

.card06-heart{
    position: absolute;
    top: 0;
    padding: 20px;
    right: 0;

}

.price-tag{
    position: absolute;
    bottom: 0;
    left: 5px;
    background-color: #fff;
    padding: 2px 4px;
    transition: bottom .1s ease-in-out;
}
.card06:hover .price-tag{
    bottom: 8px;
}



.section06-overflow{
    display: flex;
    width: 100%;
    overflow: auto;
    padding-left: 3%;
    scroll-behavior: smooth;
}

.section06-overflow::-webkit-scrollbar{
    display: none;
}
@media (max-width:965px) {
    .title06{
        font-size: 25px;
    }
    .card06{
        width: 170px;
        min-width: 170px;
    }

    .card06-heart{
        padding: 10px;
    }
    .price-tag{
        font-size: 12px;
    }
}