.acc-body{
    padding: 60px 3%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.acc-tabs{
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    /* w */
}
.acc-tabs h5{
font-weight: bold;
}

.acc-tabs button{
    width: 100% !important;
    all: unset;
    cursor: pointer;
    padding: 20px;
    font-weight: light;
    display: flex;
    justify-content: space-between;
    font-size: large;
    background-color: #fff;
    transition: background-color .1s ease-in-out;
}
.acc-tabs button:hover{
    background-color: black;
    color: #fff;
}

.active-Acc-btn{
    font-weight: bolder !important;
}
.active-Acc-btn:hover{
    text-decoration: underline;
}


@media (min-width:1400px) {
    .acc-body{
        padding: 60px 7%;
    }
}



.acc-tabs-content{
    margin: 0 7%;
    padding: 4%;
    background-color: #fff;
}

#profile-EditBtn01{
    all: unset;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}

.Acc-logout-Btn{
    display: flex;
    all: unset;
    cursor: pointer;
    padding: 13px 20px;
    border: #000 1px solid;
    width: 50%;
}
.Acc-logout-Btn:hover{
    color: #959595;
}

.Acc-address{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.Acc-card{
    border: #d6d5d5 solid 1px;
    padding: 15px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Acc-card:hover{
    border: #000 solid 1px;
}
@media (max-width:965px) {
    .acc-body{
        grid-template-columns: 1fr;
        padding-top: 0;

    }

    .acc-tabs-content{
        margin-left: 0;
    }
    .Acc-logout-Btn{
        width: auto;
    }
    #acc-overview{
        display: none;
    }
}



/* account password modal */
.Acc-passModal{
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1045;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBox-passModal{
    background-color: #fff;
    width: 50%;
    /* margin: 5% 0; */
    overflow: auto;
    padding: 25px;
    position: relative;
}


#profile-EditBtn02{
    background-color: #fff;
    all: unset;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}

#profile-EditBtn02:hover{
    background-color: #000;
    color: #fff;
}
.EditPassword-modal{
    background-color: #ffffff;
    position: absolute;
    top: 13%; 
    right: 23%;
    padding: 13px 20px;
    border: #000 1px solid;
    z-index: 1050;
}
#mobile-backBtn{
    display: none;
}
@media (max-width:965px) {
    #mobile-backBtn{
        display: inline-flex;
    }
}