li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: black;
}

.top-width{
  margin-top:127px ;
}
@media (max-width:965px) {
  .top-width{
    margin-top:101px ;
  }
}